* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

a,
a:visited {
  outline: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
.header {
  text-align: center;
}

.nav {
  width: 500px;
  margin: 20px auto;
  max-width: 48em;
  border: 1px solid #333;
  border-left: none;
  border-right: none;
  text-align: center;
}

.menu {
  display: inline-block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.menu:hover {
  background: #ddd;
}

.menu.is-active {
  background: #ddd;
  color: aliceblue;
}

.white.is-active {
  background: white;
  color: black;
  display: none;
}
.white.selected {
  background: white;
  color: black;
}
.white.bg {
  background: white;
  color: black;
}

.black.is-active {
  background: rgb(7, 6, 6);
  color: white;
  display: none;
}
.black.selected {
  background: rgb(46, 40, 40);
  color: white;
}
.black.bg {
  background: black;
  color: white;
}

.white.bg {
  background: white;
  color: black;
}

.bg {
  background: white;
  height: 100vh;
  width: 100vw;
}
